.faq{
    &__wrapper{
        display: flex;
        flex-direction: column;
        gap: 50px;
        
        @include media('>tablet') {
            flex-direction: row;
            gap: 80px;
        }
        
        .image{
            position: relative;
            max-width: 713px;
            border-radius: 15px;
        }
    }
}