.faq{
    
    &__wrapper{
        display: flex;
        flex-direction: column;
        gap: 50px;
        
        @include media('>tablet') {
            flex-direction: row;
            gap: 80px;
        }
        
        .image{

            img{
                position: relative;
                width: 100%;
                max-width: 713px;
                max-height: 100%;
            }     
        }

        .content{
            position: relative;
            max-width: 769px;
            
            .accordion{
                max-width: 769px;
                display: flex;
                flex-direction: column;
                gap: 5px;
                @include media('>tablet') {
                    flex-direction: column;
                    gap: 10px;
                }
                .contentBox{
                    max-width: 769px;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    position: relative;
                    background-color: $color-white;
                    border-bottom:3px solid $color-grey;
                                       
                    @include media('>tablet'){
                        width: 769;
                    }
                    
                    .label{
                        max-width: 729px;
                        position: relative;
                        padding-top: 10px;
                        padding-bottom: 10px;
                        cursor: pointer;

                        h5{
                            color: $color-secondary;
                        }
                        &:hover{

                            h5{
                                color: $color-primary;
                            }
                        }

                        svg{
                            position: absolute;
                            width: 15.63px;
                            height: 15.63px;
                            top: 26.46%;
                            left: 97.5%;
                            bottom: 28.93%;
                            transition: 0.5s;

                        }
                    }

                    .panel{
                        position: relative;
                        max-width: 725px;
                        height: 0;
                        overflow: hidden;
                        transition: 0.5s;
                        
                        p{
                            color: $color-secondary;
                            @include media('>tablet'){
                                    font-size: 24px;
                            }
                        }
                    }

                    &.active{
                        .label{
                            position: relative;
                            max-width: 729px;
                            cursor: pointer;

                            h5{
                                color: $color-primary;
                            }

                            svg{
                                transform: rotate(-45deg);
                                transition: 0.5s;
                            }
                        }

                        .panel{
                            max-width: 725px;
                            height: 150px;
                            overflow: hidden;
                            p{
                                color: $color-secondary;
                                @include media('>tablet'){
                                        font-size: 24px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}