.banner {   
    background-image: url('../../assets/images/herobanner.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 1080px;
    
    &__wrapper{

    }
    &__text{
    
        
    }
    

}