<section class="related-items  has-paddingbottom has-paddingtop"> 
    <div class="inner-container">
        <div class="related-items__heading">
            <h3>GET SWIRLED AWAY <br> WITH THESE FLAVORS!</h3>
        </div>

        <div class="splide related-items__splide">
            <div class="related-items__wrapper splide__track">
                <ul class="container splide__list">
                    <li class="item splide__slide">
                        <div class="image">
                            <img src="assets/images/related-item-1.png" alt="">
                        </div>
                        <div class="content">
                            <h4 class="heading">TITLE TEXT HERE</h4>
                            <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Morbi feugiat, augue ac ultricies viverra.</p>
                        </div>
                    </li>
                    <li class="item splide__slide">
                        <div class="image">
                            <img src="assets/images/related-item-1.png" alt="">
                        </div>
                        <div class="content">
                            <h4 class="heading">TITLE TEXT HERE</h4>
                            <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing. </p>
                        </div>
                        
                    </li>
                    <li class="item splide__slide"> 
                        <div class="image">
                            <img src="assets/images/related-item-1.png" alt="">
                        </div>
                        <div  class="content">
                            <h4 class="heading">TITLE TEXT HERE</h4>
                            <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing  elit.</p>
                        </div>
                        
                    </li>
                </ul>
            </div>
        </div>
    </section>
    