<section class="faq has-padding__bottom has-padding__top">
    <div class="inner-container">
        <div class="faq__wrapper">
            <div class="image">
                <img src="assets\images\faq-image.png">
            </div>
            <div class="content">
                <h4>Frequently Asked Questions</h4>
                
                <div class="accordion">
                    <div class="contentBox">
                        <div class="label">
                            <h5>Where can I watch?</h5>
                        </div>
                        <div class="panel">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus 
                            quam ratione ut blanditiis deleniti eveniet harum nam sapiente. Natus voluptatem 
                            a adipisci et commodi officia expedita quos assumenda quas quaerat.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>