<section class="faq has-padding__bottom has-padding__top">
    <div class="inner-container">
        <div class="faq__wrapper">
            <div class="image">
                <img src="assets\images\faq-image.png">
            </div>
            <div class="content">
                <h4>Frequently Asked Questions</h4>
                
                <button class="accordion">Where can I watch?</button>
                    <div class="panel">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium repellendus incidunt reprehenderit deserunt nemo quas odit unde dolore facere nisi, eius ad, voluptates eum similique et mollitia, sunt natus. Pariatur!</div>

                <button class="accordion">Mauris id nibh eu fermentum mattis purus?</button>
                    <div class="panel">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium repellendus incidunt reprehenderit deserunt nemo quas odit unde dolore facere nisi, eius ad, voluptates eum similique et mollitia, sunt natus. Pariatur!</div>

                <button class="accordion">Eros imperdiet rhoncus?</button>
                    <div class="panel">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium repellendus incidunt reprehenderit deserunt nemo quas odit unde dolore facere nisi, eius ad, voluptates eum similique et mollitia, sunt natus. Pariatur!</div>

                <button class="accordion">Fames imperdiet quam fermentum?</button>
                    <div class="panel">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium repellendus incidunt reprehenderit deserunt nemo quas odit unde dolore facere nisi, eius ad, voluptates eum similique et mollitia, sunt natus. Pariatur!</div>

                <button class="accordion">Varius vitae, convallis amet lacus sit aliquet nibh?</button>
                    <div class="panel">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium repellendus incidunt reprehenderit deserunt nemo quas odit unde dolore facere nisi, eius ad, voluptates eum similique et mollitia, sunt natus. Pariatur!</div>

                <button class="accordion">Tortor nisl pellentesque sit quis orci dolor?</button>
                    <div class="panel">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium repellendus incidunt reprehenderit deserunt nemo quas odit unde dolore facere nisi, eius ad, voluptates eum similique et mollitia, sunt natus. Pariatur!</div>

                <button class="accordion">Vestibulum mauris mauris elementum proin amet auctor ipsum nibh sollicitudin?</button>
                    <div class="panel">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium repellendus incidunt reprehenderit deserunt nemo quas odit unde dolore facere nisi, eius ad, voluptates eum similique et mollitia, sunt natus. Pariatur!</div>

            </div>
        </div>
    </div>
</section>