<section class="faq has-padding__bottom has-padding__top">
    <div class="inner-container">
        <div class="faq__wrapper">
            <div class="image">
                <img src="assets\images\faq-image.png">
            </div>
            <div class="content">
                <h4>Frequently Asked Questions</h4>
                
                <div class="accordion">
                    <div class="contentBox" id="first">
                        <div class="label">
                            <h5>Where can I watch?</h5>
                            <svg role="icon" title="plus"><use href="assets/images/sprite.svg#plus-icon"/></svg>
                        </div>
                        <div class="panel">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus 
                            quam ratione ut blanditiis deleniti eveniet harum nam sapiente. Natus voluptatem 
                            a adipisci et commodi officia expedita quos assumenda quas quaerat.
                            </p>
                        </div>
                    </div>
                    <div class="contentBox">
                        <div class="label">
                            <h5>Mauris id nibh eu fermentum mattis purus?</h5>
                            <svg role="icon" title="plus"><use href="assets/images/sprite.svg#plus-icon"/></svg>
                        </div>
                        <div class="panel">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus 
                            quam ratione ut blanditiis deleniti eveniet harum nam sapiente. Natus voluptatem 
                            a adipisci et commodi officia expedita quos assumenda quas quaerat.
                            </p>
                        </div>
                    </div>
                    <div class="contentBox">
                        <div class="label">
                            <h5>Eros imperdiet rhoncus?</h5>
                            <svg role="icon" title="plus"><use href="assets/images/sprite.svg#plus-icon"/></svg>
                        </div>
                        <div class="panel">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus 
                            quam ratione ut blanditiis deleniti eveniet harum nam sapiente. Natus voluptatem 
                            a adipisci et commodi officia expedita quos assumenda quas quaerat.
                            </p>
                        </div>
                    </div>
                    <div class="contentBox">
                        <div class="label">
                            <h5>Fames imperdiet quam fermentum?</h5>
                            <svg role="icon" title="plus"><use href="assets/images/sprite.svg#plus-icon"/></svg>
                        </div>
                        <div class="panel">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus 
                            quam ratione ut blanditiis deleniti eveniet harum nam sapiente. Natus voluptatem 
                            a adipisci et commodi officia expedita quos assumenda quas quaerat.
                            </p>
                        </div>
                    </div>
                    <div class="contentBox">
                        <div class="label">
                            <h5>Fames imperdiet quam fermentum?</h5>
                            <svg role="icon" title="plus"><use href="assets/images/sprite.svg#plus-icon"/></svg>
                        </div>
                        <div class="panel">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus 
                            quam ratione ut blanditiis deleniti eveniet harum nam sapiente. Natus voluptatem 
                            a adipisci et commodi officia expedita quos assumenda quas quaerat.
                            </p>
                        </div>
                    </div>
                    <div class="contentBox">
                        <div class="label">
                            <h5>Tortor nisl pellentesque sit quis orci dolor?</h5>
                            <svg role="icon" title="plus"><use href="assets/images/sprite.svg#plus-icon"/></svg>
                        </div>
                        <div class="panel">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus 
                            quam ratione ut blanditiis deleniti eveniet harum nam sapiente. Natus voluptatem 
                            a adipisci et commodi officia expedita quos assumenda quas quaerat.
                            </p>
                        </div>
                    </div>
                    <div class="contentBox">
                        <div class="label">
                            <h5>Vestibulum mauris mauris elementum proin amet auctor ipsum nibh sollicitudin?</h5>
                            <svg role="icon" title="plus"><use href="assets/images/sprite.svg#plus-icon"/></svg>
                        </div>
                        <div class="panel">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus 
                            quam ratione ut blanditiis deleniti eveniet harum nam sapiente. Natus voluptatem 
                            a adipisci et commodi officia expedita quos assumenda quas quaerat.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>