<section class="full has-paddingbottom has-paddingtop">
  <div class="splide full-splide herobanner-slider">
    <div class="heroText">
      <h1 class="title">Get Swirled Away</h1>
      <p>MADE FROM 100% REAl fruit!</p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        to.
      </p>
    </div>

    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
          <img
            src="assets/images/herobanner.png"
            alt=""
            width="100%"
            height="100%"
          />
        </li>
        <li class="splide__slide">
          <img
            src="assets/images/herobanner2.png"
            alt=""
            width="100%"
            height="100%"
          />
        </li>
        <li class="splide__slide">
          <img
            src="assets/images/herobanner3.png"
            alt=""
            width="100%"
            height="100%"
          />
        </li>
      </ul>
    </div>
  </div>
</section>
