<section class="product has-paddingbottom has-paddingtop"> 
    <div class="inner-container">
        <div class="product-heading">
            <h3>GET SWIRLED AWAY WITH THESE FLAVORS!</h3>
            <p class="product-subtitle">MADE FROM 100% REAL FRUIT!</p>
        </div>    
        
        <div class="product-container">
            <div class="product-children product-1">
                <img src="../../assets/images/products-gradient-bg-1.png" alt="" class="product-bg">
                <img src="../../assets/images/product-ice-cream-1.png" alt="" class="product-pic product-pic-1">
                <p class="product-description product-description-title product-description-title-1">TITLE TEXT</p>
                <p class="product-description product-description-1">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi feugiat, augue ac ultricies viverra
                </p>
            </div>
            
            <div class="product-children product-2">
                <img src="../../assets/images/products-gradient-bg-2.png" alt="" class="product-bg">
                <img src="../../assets/images/product-ice-cream-2.png" alt="" class="product-pic product-pic-2">
                <p class="product-description product-description-title product-description-title-2">TITLE TEXT</p>
                <p class="product-description product-description-2">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi feugiat, augue ac ultricies viverra
                </p>
            </div>
            
            <div class="product-children product-3">
                <img src="../../assets/images/products-gradient-bg-3.png" alt="" class="product-bg">
                <img src="../../assets/images/product-ice-cream-3.png" alt="" class="product-pic product-pic-3">
                <p class="product-description product-description-title product-description-title-3">TITLE TEXT</p>
                <p class="product-description product-description-3">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi feugiat, augue ac ultricies viverra
                </p>
            </div>
        </div>

        <div class="splide product-slider" role="group" aria-label="Splide Basic HTML Example">
            <div class="splide__track">
                  <ul class="splide__list">
                      <li class="splide__slide product-slide">
                            <div class="product-slide-container">
                                <img src="../../assets/images/products-gradient-bg-1.png" alt="" class="product-slide-bg">
                                <img src="../../assets/images/product-ice-cream-1.png" alt="" class="product-slider-pic">
                                <p class="product-slide-title">TITLE TEXT</p>
                                <p class="product-slide-text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi feugiat, augue ac 
                                    ultricies viverra
                                </p>
                            </div>
                            
                      </li>
                      <li class="splide__slide">                
                            <div class="product-slide-container">
                                <img src="../../assets/images/products-gradient-bg-2.png" alt="" class="product-slide-bg">
                                <img src="../../assets/images/product-ice-cream-2.png" alt="" class="product-slider-pic">
                                <p class="product-slide-title">TITLE TEXT</p>
                                <p class="product-slide-text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi feugiat, augue ac 
                                    ultricies viverra
                                </p>
                            </div>            
                      </li>
                      <li class="splide__slide">
                            <div class="product-slide-container">
                                <img src="../../assets/images/products-gradient-bg-3.png" alt="" class="product-slide-bg">
                                <img src="../../assets/images/product-ice-cream-3.png" alt="" class="product-slider-pic">
                                <p class="product-slide-title">TITLE TEXT</p>
                                <p class="product-slide-text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi feugiat, augue ac 
                                    ultricies viverra
                                </p>

                            </div>
                            
                      </li>
                  </ul>
            </div>
          </div>
        
        <div class="product-btn">
            @@include("../general/button.html", {
            "modifiers": "",
            "id": "",
            "attr": '"',
            "type": "primary",
            "size": "",
            "has_icon": true,
            "copy": {
                "text": "See All",
                "url": "#"
            }
          })
        </div>
        
        
    </div> 
</section>
    