<section class="header has-paddingbottom has-paddingtop"> 
    <div class="inner-container">
        <div class="product-heading">
            <h3>GET SWIRLED AWAY WITH THESE FLAVORS!</h3>
            <p class="product-subtitle">MADE FROM 100% REAL FRUIT!</p>
        </div>    
        
        <div class="product-container">
            <div class="product-child">
                <img src="../../assets/images/products-gradient-bg-1.png" alt="" class="product-bg-1">
                <img src="../../assets/images/product-ice-cream-1.png" alt="" class="product-1">
            </div>
            
            <div class="product-child">
                <img src="../../assets/images/products-gradient-bg-2.png" alt="" class="product-bg-1">
                <img src="../../assets/images/product-ice-cream-2.png" alt="" class="product-1">
            </div>
            
            <div class="product-child">
                <img src="../../assets/images/products-gradient-bg-3.png" alt="" class="product-bg-1">
                <img src="../../assets/images/product-ice-cream-3.png" alt="" class="product-1">
            </div>
        </div>
        
        <div class="product-btn">
            @@include("../general/button.html", {
            "modifiers": "",
            "id": "",
            "attr": '"',
            "type": "primary",
            "size": "",
            "has_icon": true,
            "copy": {
                "text": "See All",
                "url": "#"
            }
          })
        </div>
        
        
    </div> 
</section>
    