<section class="two-column has-padding__top has-padding__bottom">
    <div class="inner-container">
        <div class="two-column__wrapper">
            <div class="two-column__copy">
                <h4>MADE FROM 100% REAl fruit!</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi feugiat, augue ac ultricies viverra, nisl mi rutrum erat, vel molestie massa mi et purus. Nam diam purus, malesuada eget auctor eget, ultrices non ante. In sed condimentum ex, vel commodo arcu. 
                <br><br>
                Nunc tincidunt imperdiet tellus, nec vestibulum lacus posuere vitae. Cras id urna dolor. Fusce pharetra euismod ante, eu molestie odio egestas a. Suspendisse fermentum est quam, ac convallis erat dapibus rutrum.
                </p>
            </div>
            <div class="two-column__image">
                <img src="assets/images/square.png" alt="">
            </div>
        </div>
    </div>
</section>