<section class="two-column has-padding__top has-padding__bottom 
{@@modifiers}
@@if(has_btn == true) {has__btn}">
    <div class="inner-container">
        <div class="two-column__wrapper">
            <div class="two-column__copy">
                <h4>@@copy.title</h4>
                <p>@@copy.content</p>
                @@if(has_btn == true ) {
                    @@include("../general/button.html", {
                        "modifiers": "",
                        "id": "",
                        "attr": '"',
                        "type": "primary",
                        "size": "",
                        "has_icon": true,
                        "copy": {
                            "text": "@@copy.btn_text",
                            "url": "#"
                        }
                      })
                }
            </div>
            <div class="two-column__image">
                <img src="@@image-url" alt="">
            </div>
        </div>
    </div>
</section>