<section class="two-column has-padding__top has-padding__bottom">
    <div class="inner-container">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores, magni? Ducimus, enim ea natus nihil quo maiores doloremque cum magnam numquam labore nulla in blanditiis ad voluptatem tempore. Fugit, vel.</p>

        <h3>Lorem ipsum</h3>

        @@include("../general/button.html", {
            "modifiers": "",
            "id": "",
            "attr": '"',
            "type": "primary",
            "size": "",
            "has_icon": true,
            "copy": {
                "text": "Subscribe",
                "url": "#"
            }
        })

        <img src="./assets/images/related-item-1.png" alt="">
    </div>
</section>