%svg-common {
    background: url("../assets/images/sprite/sprite-02583739.svg") no-repeat;
}

.svg-arrow-icon {
    @extend %svg-common;
    background-position: 0 0;
}

.svg-arrow-icon-dims {
    width: 32px;
    height: 9.45px;
}

.svg-footer-logo {
    @extend %svg-common;
    background-position: 0 22.765598650927487%;
}

.svg-footer-logo-dims {
    width: 32px;
    height: 14.49px;
}

.svg-hamburger-icon {
    @extend %svg-common;
    background-position: 0 99.75%;
}

.svg-hamburger-icon-dims {
    width: 32px;
    height: 32px;
}

.svg-header-logo {
    @extend %svg-common;
    background-position: 100% 0;
}

.svg-header-logo-dims {
    width: 32px;
    height: 14.6px;
}

.svg-plus-icon {
    @extend %svg-common;
    background-position: 64% 34.76190476190476%;
}

.svg-plus-icon-dims {
    width: 14px;
    height: 14px;
}

