.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 20px;
    border: 2px solid $color-primary;
    border-radius: 999px;
    width: fit-content;

    &__text {
        font-size: 16px;
        color: $color-primary;

        @include media('>tablet') { 
            font-size: 32px;
        }
    }

    &__icon {
        margin-left: 14px;
        svg {
            width: 29px;
            height: 10px;
        }
    }

    &:hover {
        background-color: $color-primary-light;
    }

    &.btn-white {
        border: 2px solid $color-white;

        .btn__text {
            color: $color-white;
        }
        .btn__icon {
            svg {
                stroke: $color-white;
            }
        }
    }
}