.header {
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        max-width: 73px;

        @include media('>tablet') {
            max-width: 149px;
        }

        img {
            width: 100%;
            height: auto;
        }
    }
}