/*Colors*/
$color-white: #FFFFFF;
$color-black: #000000;
//Pink
$color-primary : #B24DC2;
$color-primary-light: #FCE8FF;
$color-primary-dark: #A031B2;
//Brown
$color-secondary : #373737;
//Green
$color-green : #62F5DB;
$color-green-light : #D3FFF7;
//Yellow
$color-yellow : #FCCF88;
$color-yellow-light : #FFE8C5;
//Yellow
$color-red : #FFC9BE;
$color-red-light : #FFE1DB;
//Grey
$color-grey : #F8F8F8;
$color-dark-grey: #8B8B8B;


/** Background classes **/
.bg-white {
    background-color: $color-white;
}

.bg-primary {
    background-color: $color-primary;
}

.bg-secondary {
    background-color: $color-secondary;
}

.bg-grey {
    background-color: $color-grey;
}